body {
  background-color: #D1E4DD;
  font-family: verdana, arial, sans-serif;
}

.site-title {
  text-align: center;
  font-size: 4em;
}

.post {
  max-width: 100%;
  width: 750px;
}

.image {
  padding-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body {
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-top: 2em;
  margin: auto;
}

.title {
  margin: auto;
  text-align: center;
}

.main-title {
  text-decoration: underline;
}

.divider {
  margin-top: 5em;
  margin-bottom: 5em;
  border: 1px solid;
}
