body {
  background-color: #D1E4DD;
  font-family: verdana, arial, sans-serif;
}

.site-title {
  text-align: center;
  font-size: 4em;
}

.main-column {
  width: 750px;
  max-width: 100%;
  margin: auto;
}

.location {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  padding-top: 1em;
  display: block; /* This makes the whole line clickable which is not what I want. */
}

.image {
  padding-top: 2em;
  display: block;
  margin: auto;
  max-width: 100%;
}

.body {
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-top: 2em;
  margin: auto;
}

.title {
  margin: auto;
  text-align: center;
}

.main-title {
  text-decoration: underline;
}

.divider {
  margin-top: 2em;
  margin-bottom: 5em;
  border: 1px solid;
}
