body {
  background-color: #D1E4DD;
}

.post {
  max-width: 100%;
  width: 750px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body {
  margin: auto;
}

.title {
  margin: auto;
  text-align: center;
}

.main-title {
  text-decoration: underline;
}
